@import "./utilities";

.center-grid-row2 {
  @include boxParameters;
  // padding: 10px;
  // font-family: "Open Sans", sans-serif;
p{
  @include paragraphStyle;
}
}
.top-content {
  display: flex;
  justify-content: space-between;
}

.avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

// .rs {
//   display: flex;
//   gap: 10px;
//   font-size: 18px;
// }

.time {
  color: rgba(128, 128, 128, 0.987);
}

.post-text {
  font-size: 16px;
}

.img-content img {
  max-width: 48%;
}
.user-name{
  padding:1rem;
}