@import "./utilities";

.right-grid {
  font-family: "Open Sans", sans-serif;
}
@mixin rightGridAlign {
  text-align: center;
  @include boxParameters();
}
@mixin rightGridMargin {
  //margin: auto;
  padding: 2rem;
}
@mixin rightGridBtn {
  margin: auto;
  border: none;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0;
  cursor: pointer;
  &:hover {
    background: $hoverColor;
    color: black;
  }
}

.right-grid-row1 {
  @include rightGridAlign();
  button {
    @include rightGridBtn();
    width: 85%;
    background: darkgrey;
  }

  img {
    margin: 15px;
  }
}
.right-grid-row2 {
  @include rightGridAlign();
  button {
    @include rightGridBtn();
    justify-content: center;
    color: white;
    width: 40%;
  }
  img {
    margin: 15px;
  }
  .yes-btn {
    background: green;
  }
  .no-btn {
    background: red;
  }
}

.right-grid-row3 {
  @include rightGridAlign();
  p {
    @include rightGridMargin();
  }
}
.right-grid-row4 {
  @include rightGridAlign();
  margin-top: -10px;
  // margin-top:-10px;
  i {
    font-size: 2.5rem;
    @include rightGridMargin();
  }
}
