$hoverColor: lightgrey;
$primaryBlueButtonColor: #199de5;
$homeButtonColor: #076490;

$blackBorder: 1px solid black;

@mixin primaryButtonStyle {
  background-color: $primaryBlueButtonColor;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: none;
  &:hover {
    background-color: $hoverColor;
    color: black;
    cursor: pointer;
  }

  i {
    font-size: 0.8rem;
    padding-right: 10px;
  }
}

.center-grid-row2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

@mixin boxParameters {
  box-shadow: 5px 3px 10px 1px lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
