@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;200;300;400;500&family=Passions+Conflict&family=Raleway:wght@800&display=swap");
.center-grid-row2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.center-grid-row2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

#main-grid-area {
  display: grid;
  width: 70%;
  grid-gap: 10px;
  grid-template-columns: 25% 55% 20%;
  grid-template-areas: "leftGrid centerGrid rightGrid";
  margin: 80px auto 30px auto;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  #main-grid-area {
    background-color: green;
    grid-template-columns: 100%;
    grid-template-areas: "leftGrid" "centerGrid" "rightGrid";
  }
}
.left-grid {
  grid-area: leftGrid;
  display: flex;
  flex-direction: column;
}

.center-grid {
  grid-area: centerGrid;
  display: flex;
  flex-direction: column;
}

.right-grid {
  grid-area: rightGrid;
}

.center-grid-row2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.center-grid-row2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

.top-content {
  display: flex;
  justify-content: space-between;
}

.avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.rs {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.time {
  color: rgba(128, 128, 128, 0.987);
}

.post-text {
  font-size: 16px;
}

.img-content img {
  max-width: 150px;
}

.center-grid-row2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.center-grid {
  /*added grid parameter. delete if there is another one, in the main .css file*/
  font-family: sans-serif;
}

.post-container {
  /* border: 2px solid blue; */
  padding: 1rem;
  box-shadow: 0px 3px 8px hsla(0deg, 0%, 0%, 0.3);
}

.post-author {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
}

.author-info {
  /* border: 1px solid red; */
  display: flex;
}

.author-status {
  font-size: 0.8rem;
  color: grey;
}

.post-interactions {
  display: flex;
  gap: 0.3rem;
}

.post-likes,
.post-comment {
  display: flex;
}

.author-info {
  gap: 10px;
}

.user-img {
  max-height: 3rem;
  max-width: 3rem;
  border-radius: 50%;
  box-shadow: 1px 4px 8px hsla(0deg, 0%, 0%, 0.3);
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
}

.post-content p {
  font-size: 0.8rem;
}

.post-link {
  color: black;
  font-size: 0.8rem;
}

button.post-likes,
button.post-comment {
  background-color: #199de5;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: none;
}
button.post-likes:hover,
button.post-comment:hover {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
}
button.post-likes i,
button.post-comment i {
  font-size: 0.8rem;
  padding-right: 10px;
}

footer.footer {
  display: block;
}

.footer-top {
  padding-left: 1rem;
  color: white;
  background: #199de5;
  height: 4rem;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

.footer-bottom {
  padding-left: 1rem;
  color: white;
  background-color: #076490;
  height: 4rem;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 0.8rem;
}

a.dev-website {
  color: white;
}

.post-content p {
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
}

@media screen and (max-width: 600px) {
  .user-img {
    height: 12vw;
    width: 12vw;
  }
  button.post-likes {
    border-radius: 10px;
    padding-left: 0.8rem;
    width: 8vw;
  }
  button.post-comment {
    border-radius: 10px;
    padding-left: 0.8rem;
    width: 8vw;
  }
  .button-text {
    display: none;
  }
  .author-info {
    display: flex;
    flex-wrap: wrap;
  }
  .post-container p,
.post-link {
    font-size: 3vw;
  }
}
.center-grid-row2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

/* Interests*/
.left-grid-row3 {
  box-shadow: 5px 3px 10px 1px lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);
}
.left-grid-row3 p {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 3px;
}

#first-two {
  color: white;
  background: #076490;
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 2.5px;
}

#blue {
  color: white;
  background: #199de5;
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 2.5px;
}

#dark-grey {
  background: #9eb1bb;
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 2.5px;
}

#grey {
  background: #becbd2;
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 2.5px;
}

#light-grey {
  background: #dfe5e8;
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 2.5px;
}

#beige {
  background: #f4f7f8;
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 2.5px;
}

td {
  font-size: 12px;
  display: inline-block;
}

/* Alertbox*/
.left-grid-row4 {
  box-shadow: 5px 3px 10px 1px lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 12px;
  background: #dfe5e8;
  position: relative;
}
.left-grid-row4 i {
  background-color: #199de5;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: none;
  background-color: #bdcbd2;
  padding: 10px 15px;
  position: absolute;
  color: black;
  right: 0;
  top: 0;
}
.left-grid-row4 i:hover {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
}
.left-grid-row4 i i {
  font-size: 0.8rem;
  padding-right: 10px;
}

.center-grid-row2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.right-grid {
  font-family: "Open Sans", sans-serif;
}

.right-grid-row1 {
  text-align: center;
  padding: 5px 5px;
  box-shadow: 0px 3px 8px hsla(0deg, 0%, 0%, 0.3);
  margin-bottom: 20px;
  border-radius: 5px;
  line-height: 0.7;
}
.right-grid-row1 button {
  margin: auto;
  border: none;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0;
  width: 95%;
  background: darkgrey;
}
.right-grid-row1 button:hover {
  background: lightgrey;
  color: black;
}

.right-grid-row2 {
  text-align: center;
  padding: 5px 5px;
  box-shadow: 0px 3px 8px hsla(0deg, 0%, 0%, 0.3);
  margin-bottom: 20px;
  border-radius: 5px;
}
.right-grid-row2 button {
  margin: auto;
  border: none;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0;
  justify-content: center;
  color: white;
  width: 40%;
}
.right-grid-row2 button:hover {
  background: lightgrey;
  color: black;
}
.right-grid-row2 .yes-btn {
  background: green;
}
.right-grid-row2 .no-btn {
  background: red;
}

.right-grid-row3 {
  text-align: center;
  padding: 5px 5px;
  box-shadow: 0px 3px 8px hsla(0deg, 0%, 0%, 0.3);
  margin-bottom: 20px;
  border-radius: 5px;
}
.right-grid-row3 p {
  margin: auto;
  padding: 2rem;
}

.right-grid-row4 {
  text-align: center;
  padding: 5px 5px;
  box-shadow: 0px 3px 8px hsla(0deg, 0%, 0%, 0.3);
  margin-bottom: 20px;
  border-radius: 5px;
}
.right-grid-row4 i {
  font-size: 2.5rem;
  margin: auto;
  padding: 2rem;
}

.center-grid-row2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(45, 157, 229);
  position: fixed;
  width: 100%;
  top: 0px;
}
#header .fa-earth-asia,
#header .fa-user,
#header .fa-envelope,
#header .fa-house {
  padding: 15px 30px;
  color: white;
  transition: all 0.2s;
}
#header .fa-earth-asia:hover {
  color: black;
  background-color: white;
}
#header .fa-user:hover {
  color: black;
  background-color: white;
}
#header .fa-envelope:hover {
  color: black;
  background-color: white;
}
#header .nav-links > li > a {
  text-decoration: none;
}
#header .nav-home-logo {
  padding: 0 10px;
  background-color: rgb(26, 100, 143);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}
#header .nav-home-logo p {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 5px;
  color: white;
  transition: all 0.2s;
}
#header .nav-home-logo:hover {
  background-color: rgb(204, 204, 204);
  color: black;
}
#header .nav-home-logo p:hover {
  color: black;
}
#header .fa-house:hover {
  color: black;
}
#header .nav-icons {
  list-style: none;
  display: flex;
}

.center-grid-row2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.center-grid-row2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

#main-grid-area {
  display: grid;
  width: 70%;
  grid-gap: 10px;
  grid-template-columns: 25% 55% 20%;
  grid-template-areas: "leftGrid centerGrid rightGrid";
  margin: 80px auto 30px auto;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  #main-grid-area {
    background-color: green;
    grid-template-columns: 100%;
    grid-template-areas: "leftGrid" "centerGrid" "rightGrid";
  }
}
.left-grid {
  grid-area: leftGrid;
  display: flex;
  flex-direction: column;
}

.center-grid {
  grid-area: centerGrid;
  display: flex;
  flex-direction: column;
}

.right-grid {
  grid-area: rightGrid;
}

/* Zarina 1 part */
.left-grid-row1 {
  box-shadow: 5px 3px 10px 1px lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);
}
.left-grid-row1 img {
  border-radius: 50%;
  width: 35%;
  margin: 10px 10px;
}
.left-grid-row1 .profile-bottom {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}
.left-grid-row1 .profile-bottom i {
  margin-right: 25px;
  color: grey;
  font-size: 15px;
}
.left-grid-row1 .profile-bottom div {
  padding: 10px;
}

.profile-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Zarina 2 part */
.left-grid-row2 {
  box-shadow: 5px 3px 10px 1px lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);
}
.left-grid-row2 button {
  background-color: #199de5;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: none;
  width: 100%;
  text-align: left;
}
.left-grid-row2 button:hover {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
}
.left-grid-row2 button i {
  font-size: 0.8rem;
  padding-right: 10px;
}
.left-grid-row2 button i {
  margin-right: 15px;
}
.left-grid-row2 .text {
  font-size: 20px;
  margin: 15px;
}

.photo-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.photo-images img {
  width: 30%;
  height: 20%;
  margin: 0.5em;
}

@media screen and (max-width: 600px) {
  .left-grid-row1 {
    height: 45vh;
  }
  .photo-images {
    flex-direction: column;
    align-content: center;
  }
  .photo-images img {
    width: 60%;
    height: 50%;
  }
  .left-grid-row2 {
    height: 100%;
  }
}
* {
  box-sizing: border;
}/*# sourceMappingURL=style.css.map */